* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    padding: 15px 50px;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: baseline;
    gap: 25px;
}

.cart {
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 15px;
    margin-left: auto;

}

section {
    background-color: #D9E8E5;
    padding-top: 80px;
    padding-bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
}

.gallery img {
    width: 300px;
    height: 200px;
}

.inline {
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin-right: 25px;
}

.preis {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.relative {
    position: relative;
}